@import '../../styles/vars';

.cartTableSummary {
  display: flex;
  flex-direction: column;

  @media only screen and (min-width: $desktop) {
    flex-direction: row;
    justify-content: space-between;
  }


  &__total_container {
    width: 100%;

    @media only screen and (min-width: $desktop) {
      width: 408px;
    }
  }

  &__values_wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;
  }

  &__values_wrapper_total {
    display: flex;
    justify-content: space-between;
    padding: 16px 0 22px 0;
    border-top: 1px solid $principal;
  }

  &__values_subtotal {
    font-size: 14px;
  }

  &__values_total {
    font-size: 18px;
    font-weight: 700;
  }

  &__button_container {
    margin-bottom: 12px;
  }

  &__button_primary {
    background-color: $secondary;
    color: $white;
    border: 1px solid $secondary;
    font-weight: 600;
    font-size: 18px;

    &:hover, &:focus {
      background-color: $tertiary;
      color: $white;
      border: 1px solid $secondary;
      outline: none;
      box-shadow: none;
    }

  }

  &__button_secondary {
    background-color: transparent;
    color: $secondary;
    border: 1px solid $secondary;
    font-weight: 600;
    font-size: 18px;

    &:hover{
      color: $tertiary;
    }

    &:focus {
      color: $tertiary;
      border: 1px solid $secondary;
      outline: none;
      box-shadow: none;
    }
  }

  &__remove {
    margin-bottom: 30px;
  }

  &__remove_btn {
    background-color: transparent;
    color: $secondary;
    border: 1px solid $secondary;
    display: flex;
    align-items: center;
    font-size: 12px;

    &:hover, &:focus{
      color: $delete;
      border: 1px solid $delete;
      outline: none;
      box-shadow: none;
      
      svg{
        color: $delete;
      }
    }

    svg {
      color: $secondary;
      margin-right: 8px;
    }

  }

}