@import '../../styles/vars';

.orderListContainer {

  @media only screen and (min-width: $tablet) {
    min-height: 450px;
  }
  
  &__title {
    font-size: 28px;
    padding-bottom: 25px;
    font-weight: 600;
  }

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

}