@import '../../styles/vars';

.cartTable {

  &__title {
    font-size: 28px;
    padding-bottom: 25px;
    font-weight: 600;
  }

  &__table {
    width: 100%;
    border-bottom: 1px solid $principal;
    margin-bottom: 30px;
  }

  &__head_item {
    padding: 10px 5px;
    background-color: $principal;
    font-size: 13px;
    color: #fff;

    &:first-child {
      padding-left: 15px;
    }
  }

  &__button_primary {
    background-color: $secondary;
    color: #fff;
    border: 1px solid $secondary;
    font-weight: 600;
    font-size: 18px;

    &:hover{
      background-color: #c9a35f;
      color: #fff;
      border: 1px solid $secondary;
    }

    &:focus {
      background-color: #c9a35f;
      color: #fff;
      border: 1px solid $secondary;
      outline: none;
      box-shadow: none;
    }
  }

  &__noElements {
    @media only screen and (min-width: $desktop) {
      height: 390px;
    }
  }

  &__description {
    padding-bottom: 20px
  }
  
}