@import '../../styles/vars';

.itemContainer {
  display: flex;
  justify-content: center;

  &__title {
    display: flex;
    width: 100%;
    background-color: #ababab;
    justify-content: center;
    padding: 10px;
    color: #fff;

    &_text {
      margin-bottom: 0;
      font-size: 28px;
      font-weight: 600;
    }
  }

  &__group {
    display: grid;
    grid-template-columns: auto auto;
    padding: 20px 0;
    gap: 8px;

    @media only screen and (min-width: $tablet) and (max-width: $desktop) {
      grid-template-columns: auto auto auto;
      gap: 15px;
    }
    
    @media only screen and (min-width: $desktop) {
      grid-template-columns: auto auto auto auto;
      gap: 15px;
    }
  }

  &__spinner{
    height: 60vh;
    display: flex;
    align-items: center;
  }
}

