@import '../../styles/vars';

.itemContainer {
  display: flex;
  justify-content: center;

  @media only screen and (min-width: $tablet) {
    min-height: calc(100vh - 355px);
  }

  &__title {
    display: flex;
    width: 100%;
    background-color: $blueNav;
    justify-content: center;
    padding: 10px;
    color: $white;

    &_text {
      margin-bottom: 0;
      font-size: 32px;
      font-weight: 600;
    }
  }

  &__group {
    display: grid;
    grid-template-columns: auto auto;
    padding: 20px 0;
    gap: 8px;

    @media only screen and (min-width: $tablet) and (max-width: $desktopPlus) {
      grid-template-columns: auto auto auto;
      gap: 15px;
    }
    
    @media only screen and (min-width: $desktopPlus) {
      grid-template-columns: auto auto auto auto;
      gap: 15px;
    }
  }

}

