// colors
$principal: #6f604c;
$secondary: #a48b5f;
$tertiary: #c9a35f;
$options: #656363;
$grey1: #ebebeb;
$grey2: #ddd;
$grey3: #bcbcbc;
$grey4: #9d9c9c;
$white: #fff;
$darkwhite: #f7f3f3;
$alert: #ee3e4e;
$delete: #e84141;
$success: #29c829;
$footerback: #2f2f2f;
$backmodal: rgba(0,0,0,0.65);
$black: #000;

// Breackpoints for media query
$mobile: 300px;
$tablet: 600px;
$desktop: 992px;
$desktopPlus: 1120px;
$bigScreen: 1200px;