@import '../../styles/vars';

.checkout {

  &__title {
    font-size: 28px;
    padding-bottom: 25px;
    font-weight: 600;
  }

  &__container{
    display: flex;
    flex-direction: column;

    @media only screen and (min-width: $desktop) {
      justify-content: space-between;
      flex-direction: row;
    }
  }
}