@import '../../styles/vars';

.myNavbar {
  position: sticky;
  top: 0;
  z-index: 1;

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;

    @media only screen and (min-width: $tablet) {
      justify-content: space-between;
      flex-direction: row;
    }

  }

  &__logo_container {
    position: relative;
    width: 250px;
    padding: 10px 0;
    z-index: 1;

    @media only screen and (min-width: $tablet) {
      width: 150px;
    }

  }

  &__logo {
    width: 100%;
    cursor: pointer;
  }

  &__options {
    padding: 0 8px;

    svg {
      padding-right: 5px;
      font-size: 24px;
    }
  }

  &__options_bl {
    border-left: 1px solid $grey4;
  }

  &__options_text {
    font-size: 13px;
  }
  
}