@import '../../styles/vars';

.footer {
  background-color: $grey1;

  &__main {
    display: flex;
    flex-direction: column;
    padding: 10px 0;

    @media only screen and (min-width: $desktop) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__mobile {
    display: block;

    @media only screen and (min-width: $desktop) {
      display: none;
    }
  }

  &__logo {
    width: 190px;
  }

  &__link {
    text-decoration: none;
    font-size: 14px;
    color: #000;

    &:hover {
      color: $secondary;
    }
  }

  &__text {
    font-size: 14px;
  }

  &__desktop {
    display: none;
    justify-content: space-between;
    width: 100%;

    h5 {
      font-weight: 600;
      font-size: 18px;
    }

    @media only screen and (min-width: $desktop) {
      display: flex;
    }
  }

  &__contact, &__sections {
    display: flex;
    flex-flow: column wrap;
    gap: 3px;
    margin: 10px 0px;
  }

  &__credits {
    margin: 10px 0;
  }

  &__credit {
    width: 36px;
    margin: 0 8px;
  }

  
  &__rights {
    background-color: $footerback;

    &_wrapper {
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      padding: 10px 0;      

      @media only screen and (min-width: $tablet) {
        flex-flow: row wrap;
        justify-content: space-between;
        padding: 15px 0;
      }
    }

    &_group {
      display: flex;
      flex-direction: column;
      align-items: center;

      @media only screen and (min-width: $tablet) {
        flex-flow: row wrap;
      }
    }
  }

  &__rights_text {
    font-size: 13px;
    color: $grey3;
  }

  &__rights_author {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      text-decoration: none;
      color: $secondary;
      font-weight: 600;

      &:hover {
        color: $grey1;
      }
    }
  }
}