@import '../../styles/vars';

.cartModal {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-end;

  &__empty {
    width: calc(100% - 370px);
    height: 100%;
    background: rgba(0,0,0,0.65);
  }

  &__container {
    background-color: #fff;
    width: 370px;
  }

  &__wrapper {
    position: relative;
    height: 100%;
  }

  &__header {
    height: 100px;
    padding: 15px 15px 0;
  }

  &__title {
    padding-top: 10px;
    text-align: center;
    font-size: 20px;
  }

  &__close_btn {
    border: none;
    border-radius: 50%;
    background-color: transparent;

    svg {
      font-size: 24px;
    }
  }

  &__data {
    height: calc(100% - 100px);
  }

  &__body {
    height: calc(100% - 140px);
    overflow-y: auto;
    padding: 0 15px;
  }

  &__cart_empty {
    height: calc(100% - 100px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    svg {
      font-size: 90px;
      color: $secondary;
    }

    &_text {
      font-size: 18px;
      padding-top: 5px;
      color: $principal;
    }
  }


  &__footer {
    position: absolute;
    bottom: 20px;
    width: 100%;
    height: 120px;
    padding: 10px 15px 0 15px;
    box-shadow: 0px -4px 3px #f7f3f3;
  }

  &__total {
    display: flex;
    justify-content: space-between;
  }

  &__total_text {
    font-weight: 600;
    padding: 8px 0;
  }

  &__button_container {
    button {
      background-color: $secondary;
      color: #fff;
      border: none;
      font-weight: 600;
      font-size: 18px;

      &:hover{
        background-color: #c9a35f;
        color: #fff;
        border: none;
      }

      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
  }
}

