@import '../../styles/vars';

.itemCounter {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 5px;
  flex-flow: column wrap;
  align-items: center;

  @media only screen and (min-width: $tablet) {
    gap: 20px;
    flex-flow: row wrap;
  }

  &__counter {
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
  }

  &__add_cart {
    padding-top: 20px;
    width: 100%;

    @media only screen and (min-width: $tablet) and (max-width: $desktop) {
      padding-top: 0;
      width: 180px;
    }

    @media only screen and (min-width: $desktop) {
      padding-top: 0;
      width: 250px;
    }

    button {
      background-color: $secondary;
      color: #fff;
      border: none;
      font-weight: 600;
      font-size: 18px;

      &:hover{
        background-color: #c9a35f;
        color: #fff;
        border: none;
      }

      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
  }

}
